<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/main.css">
</head>

<body>
    <a href="https://eziapp-org.github.io/" target="_blank">
        <img class="logo" src="image/ezi-logo.png" alt="ezi-logo">
    </a>
    <h1>Hello World!</h1>
    <div>
        <input type="text" placeholder="Enter something">
        <button>Greet</button>
    </div>
</body>
<script type="module" src="./src/main.ts"></script>

</html>